.clear-btn{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.35em;
    color: #fff;
    flex: 1;
    border-radius: 2em;
    margin: 0.6em;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    --border-opacity: 1;
    border-color: #6b46c1;
    box-sizing: border-box;
    border-style: solid;
    background-color: #6b46c1;
    cursor: pointer;
}

.clear-btn:hover {
    box-sizing: border-box;
    border-style: solid;
    border-color: #e2e8f0;
}