.header{
    height: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #fff;
}

.header::after{
    content: "ladora Kevin L.";
    color: #fe9241;
}