.input{
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #553c9a;
    color: #fff;
    padding: 0.5em;
    /*outline: 1px solid #888888;*/
    border-radius: 0.1em;
}