.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper{
  width: 400px;
  height: 600px;
  background-color: #44337a;
  border-radius: 1em;
}

.row{
  display: flex;
  width: 100%;
}